*{
background-color: #212529;
    margin-left: 30px;
    margin-right: 30px;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.body{
    width:100%;
    min-height:200px;
    margin:0px;
}

.grid{
    margin-bottom: 40px;
}

.container{
    background-color: #343a40;
    margin-bottom: 30px;
}

img{
    width: 140px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #a06a18 ;
    border-color: #ff7300;
    margin-top: 30px;
    margin-left: 0px
    
    
}


hr{
    margin-left: 0px;
    background-color: #ff7300;
    border-radius: 30%;
}
.profil{
    float: right;
    margin-left: 10px;
    margin-top: -10px;
    margin-right: 20px;
    
}
#h3{
    color: #ff7300;
    padding-top: 3px;
}
.kemampuan{
   
    margin-right: 50px;
    margin-left: 30px;
    border-color: #ff7300;
}
.content{
    background-color: #212529;
    
}
.background{
    background-color: #ff7300;
    width: fit-content;
    opacity: 80%;
}
h2{
    background-color: #ff7300;
    width: fit-content;
    opacity: 80%;
}
.kemampuan{
    background-color: #ff7300;
}
#ecer{
   font-size: 30px;
    color: whitesmoke;
    
    
}
